.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 550rem !important;
    font-weight: 100px;
}
.border{
    border-right: 3px solid white;
}