.bg-img{
    background-image: url("../img/pexels-dmitry-demidov-3783471.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.address p{
    font-weight: 600;
    font-style: italic;
}
.breadcrumbs-section{
    background-color: rgb(34, 32, 32);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 550rem !important;
    font-weight: 100px;
}
.border{
    border-right: 3px solid white;
}