.banner{
    background-image: url('../img/music\ a.jpg');
    height: 37vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.b{
    border: 20px solid white;
    background-color: black;
}